@mixin border {
  height: 360px;
  width: 4px;
}

@mixin scaleLine {
  flex: 1;
  border-left-width: 1px;
}

.time_wrap {
  flex: 1;
  flex-shrink: 0;
  justify-content: flex-end ;
  position: relative;
};

.time_box {
  flex-direction: row;
  justify-content: flex-end ;
  height: 360px;
  width: 142px;
};

.hover {
  background-color: #f0fff4;
}

.time_box_checked {
  width: 496px;
}

.border {
  @include border();
  background-color: #e8e8e8 ;
}

.border_hover {
  @include border();
  background-color: #54cc82 ;
}

.has_task_border {
  @include border();
  background-color:#a8e6bb;
}

.task_list {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.time_scale {
  flex-direction: row ;
  margin-top: 11px;
  height: 24px;
};

.transparent_scale_line {
  @include scaleLine();
  border-left-color: transparent;
}

.scale_line {
  @include scaleLine();
  border-left-color: #e8e8e8;
}

.has_tast_scale_line {
  @include scaleLine();
  border-left-color: #a8e6bb;
}

.scale {
  border-left-color: transparent;
};

.time_view {
  align-items: center ;
};

.time_text {
  color: #bfbfbf;
}

.has_task_time_text {
  color:#54cc82;
}