.time_wrap {
  flex: 1;
  flex-shrink: 0;
  justify-content: flex-end ;
  position: relative;
};

.time_box {
  justify-content: flex-end ;
  min-height: 360px;
  width: 142px;
  border-left-width: 4px;
  border-left-color: #e8e8e8 ;
};

.time_box_checked {
  width: 496px;
}

.task_list {
  align-items: center;
}

.time_content {
  position: absolute ;
  bottom: 80px;
  height: 400px;
  width: 143px;
};

.time_scale {
  flex-direction: row ;
  margin-top: 11px;
  height: 24px;
};

.scale_line {
  flex: 1;
  border-left-width: 1px;
  border-left-color: #e8e8e8;
}

.scale {
  border-left-color: transparent;
};

.time_text {
  align-items: center ;
};
