$CIRCLE_RADIUS: 36px;

.mainContainer {
  flex: 1;
}
.dropZone {
  height: 100;
  background-color: #000000;
}
text {
  margin-top: 25;
  margin-left: 5;
  margin-right: 5;
  text-align: center;
  color: #ffffff;
}

.draggableContainer {
  position: absolute;
}

.circle {
  justify-content: center;
  align-items: center;
  background-color: #1abc9c;
  width: $CIRCLE_RADIUS * 2;
  height: $CIRCLE_RADIUS * 2;
  border-radius: $CIRCLE_RADIUS;
}