.modal_wrap {
  align-items: center;
  width:960px;
  height:906px;
  background-color: #fff;
  border-radius:8px;
}

.modal_title {
  padding: 48px 0;
  font-size:30px;
  color:#30bf6c;
  font-weight: 900;
}

.modal_wrap_list {
  flex: 1;
}

.modal_item {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  padding: 0 24px;
  width: 894px;
  height: 70px;
  background: #fafafa;
  border: 1px solid #e8e8e8;
  border-radius: 50px;
}

.modal_item_text_checked {
  font-size: 24px;
  color:#30bf6c;
}

.modal_item_text {
  font-size: 24px;
  color:#666666;
}

.modal_btn_wrap {
    padding: 30px 0 48px;
}

.modal_btn {
  justify-content: center;
  align-items: center;
  border: 1px solid #30bf6c;
  border-radius:50px;
  width:270px;
  height:72px;
}

.modal_btn_text{
  font-size:24px;
  color: #30bf6c;
}
