.loadingView {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px,
}
.refreshingText {
  font-size: 24px;
  color: #999;
  padding-left: 10,
}
.footerText {
  font-size: 24px;
  color: #999;
}
.headerText {
  font-size: 24px;
  color: #999;
}
