.finish_picture {
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.finish_picture_child_view {
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.finish_picture_child_view_text {
  font-family:PingFangSC-Regular;
  font-size:24px;
  color:#999999;
}