.problemList_container {
  width: 100%;
  height: 100%;
}
.problemList_top {
  width: 100%;
  height: auto;
}
.problemList_header {
  background: #30bf6c;
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttonStyle {
  font-size: 24px;
  color: #fff;
  text-align: center;
  width: 60px;
}

.doHomeworkTitle {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.renderFilterView {
  width: 100%;
  // height: 500px;
  padding-bottom: 10px;
}

.random_style {
  height: 120px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.random_btn_normal {
  font-family:PingFangSC-Regular;
  font-size:24px;
  color:#999999;
}

.random_btn {
  // border: 1px solid #30bf6c;
  background-color: #54cc82;
  border-radius: 50px;
  padding: 20px 100px;
  margin: 10px;
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: white;
}