.container {
  flex: 1;
  background-color: #fafafa;
}

.header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  background-color: #30bf6c;
  height: 96px;
}

.headle_left {
  flex-direction: row;
  align-items: center;
}

.title {
  margin-right: 20px;
  color: #fff;
  font-size: 30px;
}

.small {
  color: #fff;
  font-size: 21px;
};

.headle {
  margin-right: 20px;
  color: #fff;
  font-size: 30px;
}


.flex_1 {
  flex: 1;
}
