.container {
  flex: 1;
  background-color: #fafafa;
}

.header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  background-color: #30bf6c;
  height: 96px;
}

.headle_left {
  flex-direction: row;
  align-items: center;
}

.title {
  margin-right: 20px;
  color: #fff;
  font-size: 30px;
}

.small {
  color: #fff;
  font-size: 21px;
};

.headle {
  margin-right: 20px;
  color: #fff;
  font-size: 30px;
}

.flex_1 {
  flex: 1;
}

.modal_wrap {
  flex: 1;
  align-items: center;
  padding: 48px 0;
  border-radius:8px;
  background-color: #ffffff;
}

.close_btn {
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100000000;
  right: -100px;
  top: 0;
  width: 59px;
  height: 59px;
  border: 1px solid #fff;
  border-radius: 60px;
  background-color: red;
}

.close_icon {
  color: #ffffff;
  font-size: 24px;
}
