@mixin row {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  // flex: 1;
}

@mixin fontSize($num) {
  font-size: $num;
}

.box {
  @include row;
}

.left {
  @include fontSize(16);
}

// .button {
//   color: #30bf6c;
//   border: 1px solid #30bf6c;
// }