.wrapper {
  background-color: white;
  flex: 1;
}

.head {
  background-color: #30bf6c;
  flex-direction: row;
  height: 72px;
  align-items: center; 
  padding: 10px; 
}

.head_content {
  flex: 1;
  // justify-content: center;
  align-items: center;
  margin-left: -10px;
}

.head_content_word {
  font-family:PingFangSC-Medium;
  font-size:24px;
  color:white;
}

.content_wrap {
  height: 2000px;
}

.body {
  // padding: 23px;
  // height: 1900px;
}

.body_homework_title {
  height: 529px;
  // background-color: red;
  padding: 23px;
}

.space {
  width: 100%;
  height: 20px;
  background-color: #ccc; 
  opacity: 0.3; 
  margin: 5px 0; 
}

.body_homework_studentAnswer {
  height: 1091;
  padding: 23px;
}

.paginationStyle {
  width: 100%;
  height: 50px;
  // font-size: 160px;
}

.foot {
  height: 100%; 
  border: 1px solid #ccc; 
  flex-direction: row;
  padding: 60px 20px;
}

.foot_child_left {
  flex-direction: row;
  flex: 3;
}

.foot_child_right {
  flex-direction: row;
  flex: 2;
  justify-content: flex-end;
}

.foot_btn {
  border-radius:50px;
  padding: 20px 50px;
  font-family:PingFangSC-Regular;
  font-size:24px;
  color: white;
}

.foot_word {
  padding: 20px 10px;
  font-family:PingFangSC-Regular;
  font-size:24px;
  color:#30bf6c;
}

.btn_color_green {
  background-color: #30bf6c;
}

.btn_color_orange {
  background-color: #f5a623;
}

.btn_color_pink {
  background-color: #fa5656;
}

.btn_color_right {
  border:1px solid #30bf6c;
  color: #30bf6c;
}

.space_2 {
  width: 12px;
}
