.wrapper {
  background-color: white;
  flex: 1;
}

.head {
  background-color: #30bf6c;
  flex-direction: row;
  height: 72px;
  align-items: center; 
  padding: 10px; 
}

.head_content {
  flex: 1;
  // justify-content: center;
  align-items: center;
  margin-left: -10px;
}

.head_content_word {
  font-family:PingFangSC-Medium;
  font-size:24px;
  color:white;
}

.content_wrap {
  height: 2000px;
}

.body {
  // padding: 23px;
  // height: 1900px;
}

.body_homework_title {
  height: 529px;
  // background-color: red;
  padding: 23px;
}

.space {
  width: 100%;
  height: 20px;
  background-color: #ccc; 
  opacity: 0.3; 
  margin: 5px 0; 
}

.body_homework_studentAnswer {
  height: 1091;
  padding: 23px;
}

.paginationStyle {
  width: 100%;
  height: 50px;
  // font-size: 160px;
}

.foot {
  height: 100%; 
  border: 1px solid #ccc; 
  flex-direction: row;
  padding: 60px 20px;
}

.foot_child_left {
  flex-direction: row;
  flex: 3;
  justify-content: flex-start;
}

.foot_child_right {
  flex-direction: row;
  flex: 2;
  justify-content: flex-end;
}

.foot_btn {
  border-radius:50px;
  padding: 20px 50px;
  font-family:PingFangSC-Regular;
  font-size:24px;
  color:#e8e8e8;
  border: 1px solid #e8e8e8;
}

.btn_color_active {
  border: 1px solid #30bf6c;
  color: #30bf6c;
}

.contentStyle {
  background:#ffffff;
  border-radius:8px;
  width:421px;
  height:259px;
}
// 模拟胜文的
.customContent {
  width: 400px;
  height: 164px;
  // background-color: blue;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 19px 24px;
}

.customContentItem {
  flex: 2;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: aqua;
}

.btn {
  border:1px solid #dbdbdb;
  border-radius:50px;
  width:208px;
  height:70px;
  line-height: 70px;
  text-align: center;
  margin-right: 30px;
}

.radio_wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.radio_childStyle {
  margin: 6px;
  // width: 88px;
  // height: 71px;
}
