.content_child {
  flex-direction: row;
  padding: 25px 0 25px 100px;
}

.content_child_left {
  font-family:PingFangSC-Regular;
  font-size:48px;
  color:#999999;
}

.content_child_right {
  font-family:Roboto-Regular;
  font-size:48px;
  color:#666666;
  padding-left: 15px;
}

.content_child_beginTime {
  color: #30bf6c;
}

.content_child_btn {
  // flex-wrap: nowrap;
  flex-direction: row;
  // padding-top: 50px; 
  justify-content: center;
}

.content_child_btn_normal {
  border: 1px solid #30bf6c;
  border-radius: 50px;
  // width: 268px;
  // height: 70px;
  // line-height: 70px; 
  // text-align: center;
  padding: 20px 100px;
  margin: 10px;
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #30bf6c;
}

.content_child_btn_color {
  background-color: #30bf6c;
  color: #ffffff;
}
