.content_child {
  flex-direction: row;
  padding: 25px 0 25px 100px;
}
 
.content_child_left {
  font-family:PingFangSC-Regular;
  font-size:48px;
  color:#999999;
}

.content_child_right {
  font-family:Roboto-Regular;
  font-size:48px;
  color:#666666;
  padding-left: 15px;
}

.content_child_beginTime {
  color: #30bf6c;
}

.content_child_btn {
  // flex-wrap: nowrap;
  flex-direction: row;
  // padding-top: 50px; 
  justify-content: center;
}

.content_child_btn_normal {
  border: 1px solid #30bf6c;
  border-radius: 50px;
  padding: 20px 100px;
  margin: 10px;
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #30bf6c;
}

.disable_btn {
  color: #999999;
  border-color: #999999;
}

.content_child_btn_color {
  background-color: #30bf6c;
  color: #ffffff;
}

.wheelPicker {
  width: 300px;
  height: 600px;
}

.renderWheelPicker {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
}

.showPickerView {
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  // background-color: pink;
  width: 100%;
}

.headerBtnBar {
  flex-direction: row;
  justify-content: space-between;
  background:#ffffff;
  width:100%;
  height:96px;
  align-items: center;
  padding: 0 24px;
  // border-bottom: 2px solid #e8e8e8;
}

.headerBtnBarText {
  font-family:PingFangSC-Regular;
font-size:24px;
color:#30bf6c;
text-align:left;
}

.renderWheelPickerItemText {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  font-family:PingFangSC-Regular;
  font-size:24px;
  color:#666666;
}