.answerCard_container {
  width: 100%;
  margin-top: 12px;
  background-color: #fff;
}
.answer_content {
  height: 400px;
  justify-content: center;
  align-items: center;
}
.answer_content_txt {
  font-size: 30px;
  color: #666;
}