.questionCard_container {
  width: 100%;
  background-color: #fff;
}
.question_title {
  height: 60px;
  justify-content: center;
  align-items: flex-start;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #e8e8e8;
}
.question_title_txt {
  font-size: 24px;
  color: #666;
  margin-left: 24px;
}
.question_content {
  height: 400px;
  justify-content: center;
  align-items: center;
}
.question_content_txt {
  font-size: 30px;
  color: #666;
}