
.radioStyle {
  height: 70px;
  width: 100%;
  padding-left: 24px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #e8e8e8;
  background-color: #fff;
}
.checkedRadioStyle {
  background-color: #fafafa;
}
