.mistakeReform_container {
  flex: 1;
}

.content_wrap {
  height: 2200px;
}

.content_wrap_not_result {
  height: 1000px;
}

.head {
  background-color: #30bf6c;
  flex-direction: row;
  height: 72px;
  align-items: center;
  // padding: 10px;
  position: relative;
}

.head_icon {
  position: absolute;
  left: 5;
}

.head_content {
  flex: 1;
  // justify-content: center;
  align-items: center;
  margin-left: -10px;
}

.head_content_word {
  font-family:PingFangSC-Medium;
  font-size:24px;
  color:#fff;
}

.head_index_view {
  position: absolute;
  right: 15;
}

.head_index_text {
  font-family: Roboto-Regular;
  font-size: 24px;
  color: #fff; 
}

.questionCard_container {
  // height: 286px;
  height: auto;
  width: 100%;
  background-color: #fff;
}
.question_title {
  height: 60px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding-left: 24px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #e8e8e8;
}

.question_title_txt {
  font-size: 24px;
  color: #666;
}

.question_content_wrap {
  padding: 24px;
  // height: 225px;
  height: auto;
  width: 100%;
}

.space {
  height: 12px;
}

.answer_container {
  background-color: #fff;
}

.submit_container {
  width: 100%;
  height: 100px;
  background-color: white;
  // margin-top: -59px;
  justify-content: center;
  border-top-color: #ccc;
  border-top-width: 1px;
  padding: 0 24px;
} 

.submit_wrap {
  height:72px;
  background-color:#54cc82;
  border-radius:50px;
  justify-content: center;
  align-items: center;
}

.submit_word {
  font-family:PingFangSC-Regular;
  font-size:24px;
  color:#fff;
}

.result_wrap {
  // align-items: center;
  padding: 0 28px 28px 28px;
  // justify-content: flex-start;
  background-color: white;
}

.result_word {
  height: 100px;
  // flex-direction: row;
  justify-content: space-between;
}

.result_word_child {
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.result_icon {
  border-radius:8px;
  padding: 3px;
  margin-right: 10px;
}

.result_icon_right {
  background-color:#30bf6c;
}

.result_icon_wrong {
  background-color:#fa5656;
}

.result_answer {
  font-family:PingFangSC-Regular;
  font-size:24px;
}

.result_difficult {
  font-family:PingFangSC-Regular;
  font-size:24px;
  color:#666666;
}

.result_right {
  color: #30bf6c;
}

.result_wrong {
  color: #fa5656;
} 

.modalContent {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.modalContentText {
  font-family:PingFangSC-Regular;
  font-size:24px;
  color:#666666;
  text-align:center;
}

.updateImage_container {
  background-color: white;
}

.image_container {
  height: 375px;
  width: 100%;
  padding: 22px;
}

.subjective_container {
  background-color: white;
  padding: 19px;
}

.answer_title {
  font-family:PingFangSC-Regular;
  font-size:24px;
  color:#666666;
  margin-bottom: 19px;
}

.other_student_answer {
  flex-direction: row;
}

.dotted_line {
  width: 100%;
  // height: 1px;
  margin: 19px 0;
  border: 1px dotted #e8e8e8;
}

.subjective_bottom {
  background-color: white;
  padding: 0 23px;
  height: 120px;
  flex-direction: row;
  align-items: center;
}

.subjective_bottom_left {
  flex: 1;
}

.subjective_bottom_left_word {
  font-family:PingFangSC-Regular;
  font-size:24px;
  color:#666666;
}

.subjective_bottom_right {
  flex: 1;
  align-items: center;
}

.subjective_bottom_right_child {
  flex-direction: row;
  // justify-content: center;
}

.subjective_bottom_right_btn {
  border:1px solid #30bf6c;
  border-radius:50px;
  margin: 0 10px;
}

.subjective_bottom_right_word {
  font-family:PingFangSC-Regular;
  font-size:24px;
  color:#30bf6c;
  padding: 20px 81px;
}

.htmlViewComponent {
  width: auto;
  height: auto;
  background-color: #fff;
  padding: 13px 24px 31px;
}
