.title_wrap {
  flex: 1;
  background-color: #30bf6c;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title_icon {
  position: absolute;
  left: 5;
  top: 5;
}

.title {
  font-family:PingFangSC-Medium;
  font-size:48px;
  color:#ffffff;
  text-align:left;
}

.complete_info {
  margin-top: 11px;
  font-size: 24px;
  color: #ffffff;
}
