.title_wrap {
  flex: 1;
  background-color: #30bf6c;
  justify-content: center;
  align-items: center;
}

.title {
  font-family:PingFangSC-Medium;
  font-size:48px;
  color:#ffffff;
  text-align:left;
}
