.homeworkDetail_container {
  width: 100%;
  height: 100%;
  background:#fafafa;
}
.homeworkDetail_header {
  background: #30bf6c;
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 0 0;
}

.alt {
  width: 20px;
  height: 20px;
}

.buttonStyle {
  font-size: 24px;
  color: #fff;
  text-align: center;
  width: 60px;
}

.homeworkDetailTitle {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.htmlViewComponent {
  width: auto;
  height: auto;
  background-color: #fff;
  padding: 13px 24px 31px;
}

.htmlContent {
  font-size: 24px;
}

.splitLine {
  width: 100%;
  height: 12px;
  background-color: transparent;
}

.studentAnserImage {
  padding: 12px 24px 30px;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
}

.correctAndOthersAnser {
  padding: 0 24px;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  width: 100%;
  height: 250px;
  flex-direction: column;
}

.correctAndOthersAnserTitle {
  width: 100%;
  height: 43px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // background-color: bisque;
}

.AnserTitleText {
  font-family:PingFangSC-Regular;
  font-size:24px;
  color:#666666;
  letter-spacing:0;
  text-align:left;
}

.imageList {
  height: 200px;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // background-color: black;
}

.imageListItem {
  margin-right: 24px;
  width: 147px;
  height: 147px;
}

.zoomImageIcon {
  position: absolute;
  bottom: 2;
  right: 2;
  background-color: rgba($color: #202c37, $alpha: 0.3);
  width:36px;
  height:36px;
  border-radius:36px;
  justify-content: center;
  align-items: center;
}

.CauseOfError {
  width: 100%;
  height: 360px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 12px;
  padding-bottom: 80px;
  background-color: #fff;
}

.rightAnserAdd {
  padding: 0 24px;
  background-color: #fff;
}

.materialContent {
  font-size: 24px;
  color: #999999;
  width: 100%;
  background-color: #fff;
  padding-left: 24px;
  padding-top: 12px;
}